.barlow-font {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

/* share color start */
.BgBody{
    background-color: #F4F4F4;
}
.BgColor{
    background-color:#e8e8e8;
}
.BgPinkColor{
    background-color: #0F264B;
}
.BgGradient{
    background-color: #0F264B;
    /* background: rgb(41,14,45);
    background: linear-gradient(45deg, rgba(41,14,45,1) 0%, rgba(10,18,60,1) 100%); */
}
.textColor{
    color: #CE1446;
}
.bold-hr {
    border: none; 
    height: 3px; 
    background-color: #0F264B;
}
.session:hover {
    background-color: #f9fafb; 
}
/* share color end */
