.barlow-font {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

/* share color start */
.BgBody{
    background-color: #F4F4F4;
}
.BgColor{
    background-color:#e8e8e8;
}
.BgPinkColor{
    background-color: #CE1446;
}
.textColor{
    color: #CE1446;
}
.bold-hr {
    border: none; 
    height: 3px; 
    background-color: #CE1446;
}
/* share color end */
